// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Graphik";
$headline-font: "Helvetica";
$mono-font: "Helvetica";
$body-font-italic: "Helvetica";
@font-face {
    font-family: "Monument";
    src: url("../../public/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Graphik";
    src: url("../../public/fonts/Graphik-Bold-Web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
