$body-line-height: 1.25em;

body,
html {
  font-size: 18px;
  line-height: 1.25em;
  color: $black;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: oldstyle-nums;

  @include mq($from: tablet) {
    font-size: 26px;
  }
  @include mq($from: wide) {
    font-size: 30px;
  }

  @include mq($until: tablet) {
    font-family: "JJMid" !important;
  }
}

h2 {
  font-weight: normal;
  //font-family: $body-font-italic;
}
