$grid-space: 1rem;
$grid-space-small: 10px;

.artwork {
	width: 100%;
	padding-top: 1rem;
	//max-height: 100vh;
	//overflow-y: scroll;
	//overflow-x: hidden;
	//background-color: black;
	//color: white;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: calc(100% + $grid-space);
		margin-left: math.div(-$grid-space, 2);
		li {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 0 0 20%;
			margin: 0;
			margin-bottom: 1rem;
			max-width: 20%;
			min-width: 20%;
			cursor: pointer;
			&:last-child {
				margin-right: auto;
			}

			div {
				aspect-ratio: 3/4;
				img {
					object-fit: cover;
				}
			}
			
			.sold{
				position: absolute;
				top:0;
				right:0;
			}

			padding-left: math.div($grid-space, 2);
			padding-right: math.div($grid-space, 2);
			text-indent: 0;
			list-style-type: none;
			.dimensions,
			.availability {
				display: none;

				font-size: 0.7rem;
				margin: 1em;
				margin-top: -5vw;
				//display: flex;
				justify-content: center;
				line-height: 1;
				z-index: 100;
				border: 1px solid transparent;
				padding: 1em;
			}
			.dimensions {
				font-weight: 700;
			}
			.availability {
				&:hover {
					//border: 1px solid black;
					background-color: white;
				}
				&.sold {
					color: gray;
				}
			}
		}
		@include mq($until: tablet) {
			width: calc(100% + $grid-space-small);
			margin-left: math.div(-$grid-space-small, 2);
			li {
				flex: 0 0 50%;
				max-width: 50%;
				min-width: 50%;
				padding-left: math.div($grid-space-small, 2);
				padding-right: math.div($grid-space-small, 2);
			}
		}
	}
}
