.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100vw;
  padding: 1.6rem;
  @include mq($from: tablet) {
    padding-top: 100px;
  }
  background-color: $white;
}
