.studio{
  position: fixed;
  top:0;
  left:0;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y:scroll;
  width: 100vw;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease .4s;
  &.show{    
    pointer-events: all;  
    opacity: 1;
  }
}